# requirements.txt

# Keepa Deals dependencies - (Last update: Version 5)

certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
numpy==2.2.6
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
retrying==1.3.4
six==1.16.0
tzdata==2025.2
urllib3==2.4.0
keepa==1.3.5 # Included for compatibility; for Keepa API calls, use direct HTTP requests via 'requests' to https://api.keepa.com with the API key from config.json

### END of requirements.txt ###